*{
    /* border: 1px solid rgb(85, 255, 0); */
}



.login-bg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url('../assets /images/kerala-bg-2.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section.hero{
    margin-top: 0;
    padding-top: 200px;
    height: 100%;
}

.login-section{
    width: 100%;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.433);
    color: rgb(226, 226, 226);
}
.login-section > h1{
    color: rgb(214, 0, 0);
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    width: 100%;

}
.login-container .login-form{
    width: 50%;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.login-container .login-form > h3{
    text-align: center;
    color: white;
    font-size: 40px;
    /* font-weight: 900; */
}
.login-container form {
    margin-top: 20px;
}
.login-container form input,.login-container form button#submitBtn{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    /* background: rgba(2, 2, 2, 0.053); */
    backdrop-filter: blur(1px);
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
    outline: none;
}
button:disabled{
    opacity: .4;
}
.login-container form input{
    padding-left: 10px;
}
.login-container form input::placeholder{
    color: rgb(255, 255, 255);
}
.login-container .login-form #pass-valid-msg, #pass-pattern-msg{
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #000;
    /* background: rgba(0, 0, 0, 0.077); */
    backdrop-filter: blur(5px);
    margin: 10px 0;
    width: 100%;
    display: none;
    text-align: start;
}
.login-container .login-form #pass-pattern-msg h3{
    font-size: 20px;
}
.login-container .login-form .valid{
    color: green;
}
.login-container .login-form .valid::before{
    position: relative;
    left: -10px;
    content: "✔";
}
.login-container .login-form .invalid{
    color: red;
}
.login-container .login-form .invalid:before {
    position: relative;
    left: -10px;
    content: "✖";
}
.login-container .login-form i{
    position: absolute;
    right: 5px;
    top: 37%;
    color: #fff;
}
.login-container .login-form .pass-div{
    position: relative;
}
.login-container .login-form .signup-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}
.login-container .login-form .signup-footer a:hover{
    color: rgb(223, 223, 223);
}


/* ------------responsive------------- */


@media (max-width:1200px) {
    .login-container .login-form{
        width:75%;
    }
}
@media (max-width:1000px) {
    .login-container .login-form{
        width: 100%;
    }
}
@media (max-width:600px) {
    section.hero{
        padding: 160px 0;
    }
    .login-section > h1{
        font-size: 22px;
    }
    .login-section > p{
        font-size: 16px;
    }
    .login-container .login-form > h3{
        font-size: 22px;
    }
    .login-container .login-form #pass-pattern-msg h3{
        font-size: 16px;
    }
}




