
div.dist-bg{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: url('../assets /images/kerala-bg-2.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
section.hero{
    display: block;
    height: auto;
    margin: 0;
    padding: 170px 50px;
}
.dist-section{
    width: 100%;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.433);
}
.dist-section > h1{
    color: rgb(221, 0, 0);
    /* border-bottom: 2px solid #fff; */

}
.dist-section > p{
    color: #fff;
    margin: 30px 0;
    padding: 0 50px;
}
/* .dist-section .card-wrapper{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.dist-section .card-wrapper .card{
    width: 300px;
    background: none;
    margin: 20px;
}
.dist-section .card-wrapper .card img{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.dist-section .card-wrapper .card h5{
    position: absolute;
    bottom: -8px;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.345);
} */
.places-container{
    background: #001524c4;
    backdrop-filter: blur(20px);
    width: 100%;
    padding: 40px 80px;
}
.places-container > h2{
    text-align: center;
    color: rgb(202, 0, 0);
}
.places-container .place{
    margin: 60px 0;
    width: 100%;
    height: 100%;
}
.places-container .place img.main-img{
    width: 100%;
    height: 350px;
}
.places-container .place .place-body{
    color: rgb(255, 255, 255);
}
.places-container .place .place-body h3{
    font-size: 22px;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}
.places-container .place .place-body p{
    margin-top: 20px;
}
.places-container .small-img-row{
    padding: 10px 0px;
}
.places-container .small-img-row img{
    width: 100%;
    height: 100%;
}
.places-container .dist-btn{
    width: 100%;
    text-align: center;
}
.places-container .dist-btn button{
    color: #fff;
    background: #bf1111;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}



/*------------------------- Responsive --------------------- */

@media(min-width: 768px) and (max-width : 1100px) {
    .places-container{
        padding: 40px 40px;
    }
    .places-container .place .place-body h3{
        font-size: 22px;
    }
    .places-container .place .place-body p{
        margin-top: 15px;
    }
    .places-container .place .place-body p span.dis-none{
        display: none;
    }
}
@media (max-width : 768px){
    .places-container .place {
        border-bottom: 2px solid  rgb(252, 252, 252) ;
        /* border-style: dashed; */
        padding-bottom: 20px;
    }
    
    .places-container .place .place-body h3{
        border-bottom: none;
        margin-top: 20px;
    }

}
@media (max-width : 550px){
    .places-container{
        padding: 40px 10px;
    }
    section.hero{
        padding: 170px 20px;
    }
    .dist-section > p{
        padding: 0;
    }
} 
@media (max-width : 375px){
    .places-container .place img.main-img{
        width: 100%;
        height: 270px;
    }
}







