/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul{
  margin-bottom: 0 !important;
}
body {
  background: #f0faff;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  color: #ff1b1b;
  text-decoration: none;
}

/* --------------header and nav------------- */

header{
  position: fixed;
  width: 100%;
  z-index: 999;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: rgba(106, 106, 106, 0.311);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.563);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
.nav .logo img{
  /* font-size: 22px;
  font-weight: 500; */
  width: 70px;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* --------------hero section------------- */

section.hero{
  width: 100%;
  height: 100vh;
  margin-top: 70px;

}
section.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 60px 10%;
  /* margin-top: 5px; */
  height: 100%;
  position: relative;
  height: 500px;
}
section.hero video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


section.hero .welcome{
  color: rgb(255, 255, 255);
  background: transparent;
}
section.hero .welcome h1{
  font-weight: 500;

}
section.hero .welcome h1 span{
  font-weight: 900;
  color: #ff1b1b;
}

section.hero .hero-form{
  margin-top: 100px;
  background-color: #ffffff77;
  backdrop-filter: blur(10px);
  padding: 40px;
  width: 100%;
  border-radius: 5px;
}
section.hero .hero-form form{
  display: flex;
  flex-wrap: wrap;
}
.location-div,.months-div,.travel-type-div{
  flex: 1 0 140px;
  margin: 0 10px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  background: transparent;

}
.location-div .fa-location-dot,.months-div .fa-calendar-days,.travel-type-div .fa-flag{
  font-size: 16px;
  padding: 0 5px;
  color: #ff1b1b;
  background: transparent;
}
section.hero form .location,section.hero form .travel-type,section.hero form .months{
  height: 40px;
  padding: 0 5px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;

}
section.hero form .submit{
  flex: 1 0 50px;
  border: none;
  outline: none;
  background: #ff1b1b;
  color: #fff;

}
section.hero form ::placeholder{
  color: #000;
}

/* --------------about section------------- */


section.about{
  padding: 30px 70px;
  /* margin: 20px 0; */
  position: relative;
  background: #6464644a;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.about h1{
  color: #f1f1f1;
}
section.about p{
  color: #e3e3e3;
  margin-top: 30px;
}

section.about img{
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}


/* --------------experience section------------- */



section.experience{
  padding: 30px 70px;
  background:  #e2e2e2a9 50%, #fff 50%;
  backdrop-filter: blur(20px);
  height: 100%;
  
}
section.experience > h1{
  color: rgb(0, 0, 0);
  text-align: center;
}
section.experience .card-wrapper{
  display: grid;
  grid-auto-flow: column;
  overflow-y: auto;
  margin-top: 50px;
  gap: 1.5rem;
  width: 100%;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
section.experience .card-wrapper::-webkit-scrollbar{
  display: none;
}
section.experience .card-arrow button#prev-slid{
  content:"❮";
  position: absolute;
  top: 50%;
  left: 10px;
}
section.experience .card-arrow button#next-slid{
  content:"❯";
  position: absolute;
  top: 50%;
  right: 10px;
}
section.experience .card-arrow button.slide-btn{
  color: #fff;
  font-size: 30px;
  background: #89898927;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  padding:5px 15px;
  z-index: 1;
  border: none;
  outline: none;
}
section.experience .card-wrapper .card{
  width: 400px;
  height: 80vh;
  margin: 0 20px;
  background: none;
  position: relative;
  overflow: hidden;
  color: #f1f1f1;
  text-align: center;

}
section.experience .card-wrapper .card .card-body{
  position: absolute;
  bottom: 30px;
}
section.experience .card .card-body h1{
  font-size: 28px;
  margin-top: 50px;
}  

/* --------------explore section------------- */

section.explore{
  /* margin: 20px 0; */
  height: 70vh;
  background: rgb(198, 198, 198);
}









/* ---------------responsive----------------- */


@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
    
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
    transition: all 0.4s ease;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width : 576px) {
  
}

@media (min-width : 576px) {
  
}


@media (max-width : 870px) {
  
}
@media (max-width : 650px) {
  section.hero{
    margin-top: 40px;
}
section.hero .about h1{
    font-size: 20px;
}
section.hero .about p{
    font-size: 12px;
}
}
@media (max-width : 400px) {
  
}