/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul{
  margin-bottom: 0 !important;
}
body {
  background: #f0faff;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: rgb(193, 193, 193);
  text-decoration: none;
}

/* --------------header and nav------------- */

header{
  position: fixed;
  width: 100%;
  z-index: 999;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: rgba(106, 106, 106, 0.311);
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.563);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
.nav .logo img{
  /* font-size: 22px;
  font-weight: 500; */
  width: 70px;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* --------------hero section------------- */

section.hero{
  width: 100%;
  height: 100vh;
  background: url();
  margin-top: 70px;

}
section.hero .about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 60px 10%;
  margin-top: 5px;
  height: 100%;
  position: relative;
}
section.hero video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
section.hero .about h1{
  color: #ffffff;
}
section.hero .about p{
  color: #ffffff;
  margin-top: 30px;
}



section.experience{
  padding: 30px 70px;
  position: relative;
  background: #ffffff;
}
section.experience > h1{
  color: rgb(0, 0, 0);
  text-align: center;
}
/* section.experience .carousel-inner{
  padding: 1rem;
} */

/*
.carousel-item{
  flex: 0 0 calc(100% / 4);
  margin-right: 0;
  padding: 1rem;
  display: block;
} */
section.experience .image-wrapper{
  max-width: 100%;
  /* height: 17em; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section.experience .image-wrapper img{
  max-width: 100%;
  max-height: 100%;
}
section.experience .card{
  height: 500px;
  border: none;
  background: transparent;
  position: relative;
  margin: 60px .5em;
}
section.experience .card .card-body{
  position: absolute;
  color: #fff;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
section.experience .card .card-body h1{
  font-size: 28px;
  margin-top: 50px;
} 




.explore{
  margin: 20px 0;
}









/* ---------------responsive----------------- */


@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
    
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.55);
    transition: all 0.4s ease;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width : 576px) {
  section.experience .card .card-body{
    top: 50%;
  }
  section.experience .card .card-body h1{
    font-size: 20px;
    margin-top: 30px;
  } 
  section.experience .card .card-body p{
    font-size: 13px;
  }
}

@media (min-width : 576px) {
  section.experience .carousel-inner{
      display: flex;
  }
  section.experience .carousel-item{
      flex: 0 0 calc(100% / 3);
      margin-right: 0;
      display: block;
  }
}


@media (max-width : 870px) {
  
}
@media (max-width : 650px) {
  section.hero{
    margin-top: 40px;
}
section.hero .about h1{
    font-size: 20px;
}
section.hero .about p{
    font-size: 12px;
}
}
@media (max-width : 400px) {
  
  section.experience .card {
    margin: 0;
    padding: 0;
    height: 500px;

  }
  section.experience .card .card-body{
    top: 50%;
    
  }
  section.experience .card .card-body h1{
    font-size: 15px;
    margin-top: 15px;
  } 
  section.experience .card .card-body p{
    font-size: 10px;
  }
  section.experience .carousel-inner{
    /* display: flex; */
    padding: 0rem;
  }
}